@media screen and (max-width: 1400px) {
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }
  #about{
    flex-wrap: wrap;
  }
 
}



@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  #skills{
    margin-top: 2rem;
  }
  #profile, .section-container{
    display: block;
  }
  section, .section-container{
    height: fit-content;
  }
  section{
    margin: 0 5%;
  }
  .section_pic-container{
    padding-top: 1rem;
    width: 275px;
    height: 275px;
    margin: 0 auto;
  }
  .note{
    width: 90%;
  }
  .section_text_p2{
    font-size: 1.4rem;
  }
  .about-container{
    margin-top: 0;
  }
  .logos-container{
    padding-bottom: 5rem;
  }

}

@media screen and (max-width: 600px) {
  #contact, footer{
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  footer nav{
   margin-top: 55vh;
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-container
  .btn-container{
    flex-wrap: wrap;
  }
  .nav-links{
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .section_pic-container{
    width: auto;
    height: 64vw;
    justify-content: center;
  }
  .text-container{
    text-align: justify;
  }
  .section_text_p2{
    font-size: 1.3rem;
  }
  .section-text{
    margin-top: 3px;
    padding-top: 5rem;
  }
  .contact-info-container{
    padding: 0;
    
  }
  .contact-form{
    width: 88vw;
    padding: 2rem;
  }
  

}
@media screen and (max-width: 300px){

.contact-form{
  
  
  margin: 5rem auto;
  
}
}
