@media screen and (max-width: 1400px) {
  #mobile-nav {
    height: 10vh;
  }
  #about {
    flex-wrap: wrap;
  }
  #contact {
    margin-top: 100px;
  }
  .contact-info-container {
    padding: 0;

    min-height: 60vh;
  }
}

@media screen and (max-width: 900px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  #about #skills {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section:not(#home),
  .section-container {
    height: fit-content;
  }
  section:not(#home) {
    
    margin: 0 5%;
  }
  .section_pic-container {
    padding-top: 1rem;
    width: 275px;
    height: 275px;
    margin: 0 auto;
  }
  .note {
    width: 80%;
    height: 60vh;
  }

  .section_text_p2 {
    font-size: 1.3rem;
  }
  .about-container {
    margin-top: 0;
  }
  .logos-container {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    padding-top: 18vh;
    height: 95vh;
  }
  .title {
    font-size: 24px;
  }
  .logo {
    font-size: 1rem;
    gap: 0;
  }
  .logo-img {
    height: 50px;
    width: 50px;
  }
  .btn1{
    font-size: 11px;
  }
#about, #skills, #projects, #contact{
  padding-top: 12vh;
}
  .social-icon-header{
    font-size: 26px;
  }
  
  .emoji {
    font-size: calc(15px + 1vw);
  }
  .about-container .btn-container {
    flex-wrap: wrap;
  }
  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 54vw;
    justify-content: center;
    margin-bottom: 10px;
  }
  .text-container {
    text-align: justify;
  }
  .section_text_p1:first-of-type {
    padding-top: 1rem;
  }
  .section_text p:first-of-type {
    font-size: 10px;
  }
  .typewriter .section_text_p2 {
    font-size: 16px;
    font-weight: 500;
  }
  .section-text {
    margin-top: 3px;
    padding-top: 1rem;
  }
  .btn {
    margin-top: 5px;
    padding: 17px;
  }
  .note {
    margin: 0;
    width: 80vw;
    margin: 0 auto;
  }

  .note .note h1 {
    font-size: 0.3 rem;
    font-weight: 200;
  }
  .contact-info-container {
    padding: 0;
  }
  .contact-form {
    width: 90vw;
    padding: 2 4rem;
  }

  .contact-form .input-box {
    width: 75vw;
  }
  .footer{
    margin-top: 80px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer-info h3 {
    font-size: 20px;
  }
  .footer-info p {
    font-size: 13px;
    margin-bottom: 23px;
  }
}
