@media screen and (max-width: 1400px) {
  #mobile-nav {
    height: 15vh;
  }
  #profile {
    height: 84vh;
    margin-bottom: 0;
  }
  #about {
    flex-wrap: wrap;
    padding-top: 0;
  }
  #contact {
    margin-top: 100px;
  }
  .contact-info-container {
    padding: 0;

    min-height: 60vh;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    display: flex;
    
  }
  #about #skills {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    padding-top: 1rem;
    width: 275px;
    height: 275px;
    margin: 0 auto;
  }
  .note {
    width: 80%;
    height: 60vh;
  }

  .section_text_p2 {
    font-size: 1.3rem;
  }
  .about-container {
    margin-top: 0;
  }
  .logos-container {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  
  #profile {
    height: 82vh;
    margin-bottom: 0;
    margin-top: 30px;
  }
  #about {
    height: 84vh;
    padding-top: 10px;
    margin-top: 10vh;
    margin-bottom: 40vh;
  }
  #skills{
    padding-top: 10vh;
  }
  footer nav {
    margin-top: 70vh;
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-container .btn-container {
    flex-wrap: wrap;
  }
  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 64vw;
    justify-content: center;
  }
  .text-container {
    text-align: justify;
  }
  .section_text_p1:first-of-type {
    padding-top: 1rem;
  }
  .section_text_p2 {
    font-size: 1.3rem;
  }
  .section-text {
    margin-top: 3px;
    padding-top: 1rem;
  }
  .note {
    margin: 0;
    width: 80vw;
    margin: 0 auto;
  }
  .note .note h1 {
    font-size: 0.3 rem;
    font-weight: 200;
  }
  .contact-info-container {
    padding: 0;
  }
  .contact-form {
    width: 90vw;
    padding: 2 4rem;
  }

  .contact-form .input-box {
    width: 75vw;
  }

}
