@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}
.logo-img {
  width: 65px;
  height: 65px;
  border-radius: 30%;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar {
  display: flex;
  justify-content: space-around;
  height: 15vh;
}
.logo {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.nav-links li a:hover {
  color: rgb(53, 53, 53);
  text-decoration: underline;
  text-decoration-color: rgb(53, 53, 53);
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
  transition: all 200ms ease;
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#mobile-nav {
  display: none;
}
.mobile-menu {
  position: relative;
  display: inline-block;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  z-index: 5;
  padding: 20px;
  
}
.menu-links a {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.menu-icon.open span:nth-child(2) {
  opacity: 0;
}
.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.menu-icon span:first-child {
  transform: none;
}
.menu-icon span:first-child {
  opacity: 1;
}
.menu-icon span:first-child {
  transform: none;
}

/* SECTION */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 360px;
  width: 360px;
  margin: auto 0;
}
.section_pic-container img {
  border-radius: 8px;
}
.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.section_text_p2 {
  text-align: center;
  font-size: 1.5rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: typing 4.5s steps(50, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
.title {
  font-size: 3rem;
  text-align: center;
}
.emoji {
  font-size: calc(18px + 1vw);
  min-width: 1.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wave::after {
  content: "✋";
  --emoji: "👋";
  animation-name: twoFrames;
  animation-duration: 1.4s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 7rem;
  border-radius: 2rem;
}
.btn1,
.btn2 {
  border: rgb(53, 53, 53) 0.12rem solid;
}
.btn2 {
  background-color: black;
  color: white;
}
.btn1:hover {
  cursor: pointer;
  background: rgb(53, 53, 53);
  color: white;
}
.btn2:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}
.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  gap: 1.2rem;
}
.icon {
  cursor: pointer;
  height: 2.3rem;
}

#about {
  padding-top: 4vh;
  position: relative;
}
.about-container {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container {
  display: flex;
}
.education-title {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.text-container {
  padding-bottom: 1rem;
}
.details-container {
  align-self: center;
  padding: 1.5rem;
  flex: 1;
  background: white;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.logos-container {
  padding-top: 7rem;
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
}
.logos-container:before,
.logos-container:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  content: "";
  z-index: 2;
}
.logos-container:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}
.logos-container:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}
.logos-container img {
  height: 200px;
  margin: 0 30px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.note span {
  font-weight: 500;
  font-size: 2rem;
}
.note {
  margin: 2rem auto;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 80%;
  height: 70%;
}
.note p {
  font-size: 0.8rem;
  font-weight: 800;
  color: rgb(92, 91, 91);
  background-color: rgba(202, 201, 201, 40%);
  border: rgba(53, 53, 53, 0) solid;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
}
.note h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.contact-info-container {
  position: relative;
  margin: 0 auto;
  padding: 4rem;
  min-height: 80vh;
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 1rem;
}
.contact-details p {
  font-weight: 500;
}
.contact-details img {
  height: 40px;
}
.contact-form {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
  align-items: center;
  padding: 2rem 0;
  width: 60%;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
}
.contact-form .input-box {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:valid ~ span,

.contact-form .input-box textarea:focus ~ span
 {
  color: #e91e63;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
  width: 120px;
  background: #000000;
  padding: 10px 0;
  color: #fff;
  border-radius: 1.2rem;
  border: rgb(53, 53, 53) 0.12rem solid;
}
.contact-form .input-box input[type="submit"]:hover{
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}

.footer{
  margin-top: 170px;
  background-color: #0e0e0e;
  color: hsl(0, 0%, 100%);
  padding: 50px 0;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}

.container-footer{
  max-width: 900px;
  margin: 0 auto;
}
.footer-info h3{
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Hammersmith One', sans-serif;
}
.footer-info p{
  font-size: 16px;
  margin-bottom: 20px;
}

.social-container{
  display: flex;
  align-items: center;
}

.social-icon{
  font-size: 28px;
  color: #017c78;
  margin: 0 10px;
}