@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}
.logo-img {
  width: 65px;
  height: 65px;
  border-radius: 30%;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar {
  display: flex;
  justify-content: space-around;
  height: 15vh;
}
.logo {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.nav-links li a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(102, 101, 101);
  text-underline-offset: 15px;
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#mobile-nav {
  display: none;
}
.mobile-menu {
  position: relative;
  display: inline-block;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links.open{
  max-height: 300px;
}
.menu-icon.open span:first-child{
transform: rotate(45deg) translate(10px, 5px);
}
.menu-icon.open span:nth-child(2){
opacity: 0;
}
.menu-icon.open span:last-child{
transform: rotate(-45deg) translate(10px, -5px);
}
.menu-icon span:first-child{
transform: none; 
}
.menu-icon span:first-child{
opacity: 1;
}
.menu-icon  span:first-child{
transform: none;
}

/* SECTION */

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}


.section_pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  
}
.section_pic-container img{
  border-radius: 8px;
}
.section_text{
  align-self: center;
  text-align: center;
}

.section_text p{
  font-weight: 600;
}

.section_text_p1{
  text-align: center;
  font-size: 1rem;
  
}
.section_text_p2{
  text-align: center;
  font-size: 1.4rem;
}

.title{
  font-size: 3rem;
  text-align: center;
}
.emoji {
  font-size: calc(15px + 0.6vw);
  min-width: 1.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wave::after {
  content: '✋';
  --emoji: '👋';
  animation-name: twoFrames;
  animation-duration: 1.4s;
}

@keyframes twoFrames {
  50% {
      content: var(--emoji);
  }
}

.btn-container{
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 7rem;
  border-radius: 2rem;
}
.btn1{
border: rgb(53, 53, 53 ) 0.12rem solid;
}
.btn1:hover{
  cursor: pointer;
  background: rgb(53, 53, 53 ) ;
  color:white;
}
.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  gap: 1.2rem;
}
.icon{
  cursor: pointer;
  height: 2.3rem;
  
}

#about{
  position: relative;
}
.about-container{
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-details-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container{
  display: flex;
}
.education-title{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.text-container{
  padding-bottom: 1rem;
}
.details-container{
  align-self: center;
  padding: 1.5rem;
  flex: 1;
  background: white;
  border:rgb(53, 53, 53 ) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  text-align: center;
}

.section-container{
  gap: 4rem;
  height: 80%;
}
