@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,body{
  overflow-x:hidden;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #aaaaaa;
}

html::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}
.logo-img {
  width: 65px;
  height: 65px;
  border-radius: 30%;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  background-color: #0e0e0e;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
.logo p{
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links li a {

  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #03b8b2;
  transition: width 0.4s ease;
}

nav li:hover a::after {
  width: 100%;
}

nav li:hover a {
  color: #fff;
}

nav li:hover {
  transform: scale(1.1);
}
#mobile-nav {
  width: 100%;
  position: fixed;
  display: none;
  background-color: #0e0e0e;
  height: 10vh;
  z-index: 99999;
}
.mobile-menu {
  position: relative;
  display: inline-block;
  
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  
}
.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  display: none;
  position:fixed; 
  top: 10vh;
  width: 100%;
  color: #fff;
  background-color: #0e0e0e;
  max-height: 0;
  transition: all 0.3 ease-in-out;
  z-index: 4;
  padding-top: 0;
  padding-bottom: 10px;
  
}
.menu-links a {
  display: block;
  padding: 3px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  display: block;
  max-height: 400px;
  z-index: 99;
}
.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.menu-icon.open span:nth-child(2) {
  opacity: 0;
}
.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.menu-icon span:first-child {
  transform: none;
}
.menu-icon span:first-child {
  opacity: 1;
}
.menu-icon span:first-child {
  transform: none;
}

/* SECTION */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  gap: 5rem;
  height: 100vh;
  color: #d8d8d8f3;
  background: #0e0e0e;
}

.section_pic-container {
  display: flex;
  height: 360px;
  width: 360px;
  margin: auto 0;
}
.section_pic-container img {
  border-radius: 8px;
}
.section_text {
  align-self: center;
  text-align: center;
  
}
.pfname{
  color: #017c78;
}
.section_text p {
  font-weight: 600;
}
.section_text p:first-of-type {
  font-weight: 400;
  font-size: 14px;
}

.section_text_p1 {
  
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
.typewriter{
  width: fit-content;
  margin: 0 auto;
}
.typewriter .section_text_p2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-right: 3px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #d8d8d8f3; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: typing 4.5s steps(50, end), blink-caret 0.80s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #d8d8d8f3;
  }
}
.title {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(15.0deg) }
   40% { transform: rotate(-5.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
  gap: 1rem;
}

.btn {
  font-weight: 500;
  transition: all 300ms ease;
  padding: 1.5rem;
}
.btn1 {
  border: #017c78 0.2rem solid;
  background-color: #d8d8d8f3;
}
.btn1 {
  background-color: black;
  color: white;
}

.btn1:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}
.socials-container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 1.3rem;
}

.social-icon-header {
  cursor: pointer;
  color: #d8d8d8f3;
  font-size: 34px;
}
.btn-container{
  margin-top: 24px;
  margin-bottom: 18px;
}
#about {
  padding-top: 4vh;
  position: relative;
}
.about-container {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container {
  display: flex;
}
.icon{
  width: 28px;
  height: auto;
}
.education-title {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.text-container {
  padding-bottom: 1rem;
}
.details-container {
  align-self: center;
  padding: 1.5rem;
  flex: 1;
  background: white;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  text-align: center;
}

.details-container p span{
  color: #017c78;
}
.section-container {
  gap: 4rem;
  height: 80%;
}

.logos-container {
  padding-top: 7rem;
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
}
.logos-container:before,
.logos-container:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  content: "";
  z-index: 2;
}
.logos-container:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}
.logos-container:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}
.logos-container img {
  height: 200px;
  margin: 0 30px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.note span {
  font-weight: 500;
  font-size: 1rem;
}
.note {
  margin: 2rem auto;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 80%;
  height: 70%;
}
.note p {
  font-size: 0.8rem;
  font-weight: 800;
  color: rgb(92, 91, 91);
  background-color: rgba(202, 201, 201, 40%);
  border: rgba(53, 53, 53, 0) solid;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
}
.note h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.contact-info-container {
  position: relative;
  margin: 0 auto;
  padding: 4rem;
  min-height: 80vh;
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 1rem;
}
.contact-details p {
  font-weight: 500;
}
.contact-details img {
  height: 40px;
}
.contact-form {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
  align-items: center;
  padding: 2rem 0;
  width: 60%;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
}
.contact-form .input-box {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:valid ~ span,

.contact-form .input-box textarea:focus ~ span
 {
  color: #e91e63;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
  width: 120px;
  background: #000000;
  padding: 10px 0;
  color: #fff;
  border-radius: 1.2rem;
  border: rgb(53, 53, 53) 0.12rem solid;
}
.contact-form .input-box input[type="submit"]:hover{
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}

.footer{
  margin-top: 150px;
  background-color: #0e0e0e;
  color: hsl(0, 0%, 100%);
  padding: 50px 0;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}

.container-footer{
  max-width: 900px;
  margin: 0 auto;
}
.footer-info h3{
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Hammersmith One', sans-serif;
}
.footer-info p{
  font-size: 16px;
  margin-bottom: 20px;
}

.social-container{
  display: flex;
  align-items: center;
}

.social-icon{
  font-size: 28px;
  color: #017c78;
  margin: 0 10px;
}